{% extends 'header.html' %}

<!--Start of body section-->
{% block body %}

{% load static %}
<!--Banner Section-->
<section id= "banner">
<div class= "container">


<div class = "col-md-6 col-sm-6 col-6 text-center">
<p class="promo-title"> Worried about your mole?</p>
<p class="title"> Perform regular self-checks for skin cancer with your phone.</p>
 <button class="btn"  type="button"> <a href="/checking">Check your Skin</button></a>
</div>
</div>


<img src={% static 'wave1.png' %} class="wave-img">

</section>


{% include 'footer.html' %}


{% endblock %}
