{% block body %}

{% load static %}
<footer id="footer">
  <div class="container-fluid">
      <div class="row text-muted">
          <!--About Us Div-->
          <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 ">
              <h5><u>ABOUT US</u></h5>
             <p> <br>Lorem Ipsum is simply dummy text of the printing and typesetting industry ....<br>
              <br>Address<br>
              500 Lorem Ipsum Dolor Sit,<br>
              22-56-2-9 Sit Amet,
             <br> USA<br>
              <br>Phone: (00) 222 666 444<br>
              Fax: (000) 000 00 00 0</p>
              </div>

              <!--Start of Latest Posts-->
    <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 ">
          <h5><u>LATEST POSTS</u></h5>
          <p>Fusce scelerisque massa vitae</p>
          <p>25 April 2013</p>
          <p>Pellentesque bibendum ante</p>
          <p>15 March 2013</p>
          <p>Maecenas quis ipsum sed magna</p>
          <p>25 April 2013</p>
     </div>

 <!--Start of Latest Posts-->
 <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 ">
  <h5><u>LATEST POSTS</u></h5>
  <p>Fusce scelerisque massa vitae</p>
  <p>25 April 2013</p>
  <p>Pellentesque bibendum ante</p>
  <p>15 March 2013</p>
  <p>Maecenas quis ipsum sed magna</p>
  <p>25 April 2013</p>
</div>
<!--End of Latest Posts-->
<!--Social Media links-->
<div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 col-6 ">
  <h5><u> SOCIAL MEDIA</u></h5>
<a href="#" id="twt" ><img class="social_size" src="{% static 'twitter-icon.png' %}"></a>
<a href="#" id="fb" ><img class="social_size" src="{% static 'facebook-icon.png' %}"></a>
<a href="#" id="linkedin"><img class="social_size" src="{% static 'linkedin-icon.png' %}"></a>
<a href="#" id="insta"><img class="social_size" src="{% static 'instagram-icon.png' %}"></a>
</div>
<!--End of media links-->





<!--Start of below line-->
<div class="col-12">
  <br><br><br><br>
  <p>&nbsp;</p>
  <hr>
  <br>
  <p align="center">&#169;<span style ="color:purple "> All rights reserved | SCD 2021 </span></p>
</div>
</div>

</div>

</footer>

{% endblock %}