{% extends 'header.html' %}

{% block body %}
  <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Skin Cancer Detection </title>
{% load static %}
<script>
var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};
</script>


<!--Banner Section-->
<section id= "banner">
<div class= "container">


<div class = "col-md-6 col-sm-6 col-6 text-center">
<p class="promo-title"> Worried about your mole?</p>
<p class="title"> Perform regular self-checks for skin cancer with simply uploading your mole's picture.</p>

</div>
</div>


<img src="{% static 'wave1.png' %}" class="wave-img">

</section>
<form>
  <h2 id="head">Please upload your mole's picture</h2>

  <input type="file" id="img" name="img" onchange="loadFile(event)" accept="image/jpeg, image/png">

  <input  id ="butn"type="submit">
<p><img id="output" width="100" /></p>
<!--<button id="try_btn" type="button">Upload Your  Picture</button>-->
</form>
<!--End of Banner section-------->


<!--Start of bottom area-->
{% include 'footer.html' %}

{% endblock %}
